.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .navbar-brand {
        font-size: 1.8rem;
    }

    .navbar-nav {

        flex-direction: row;

        @media(max-width: 767px) {
            display: none;
        }

        .nav-item {
            display: inline-block;

            .nav-link {
                padding: 0 1rem;
            }
        }
    }

    .menu-nav-btn {
        display: none;
        color: $text-alt;
        font-size: 1.2rem;

        @media(max-width: 767px) {
            display: block;
        }
    }
}

#menu-nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    // background: rgba(0, 0, 0, .3);
    cursor: pointer;
    overflow: hidden;
    background: $primary;
    opacity: 0;
    transition: all .3s linear;
    transform: translateY(-100%);
    z-index: 1010;
    height: 100%;
    max-height: 100vh;

    @media(min-width: 768px) {
        display: none;
    }

    .mobile-nav {
        color: $text-alt;

        // width: 0;

        overflow: hidden;
        width: 100%;




        .menu-close {
            color: $text-alt;
            width: 100%;
            border-bottom: 1px solid rgba($text-alt, 0.3);
            text-align: right;
            padding: 0.5rem 1rem;
            font-size: 1.4rem;
        }

        .navbar-nav {
            li {
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
            }
        }
    }

    &.open {
        width: 100%;
        transform: translateY(0);
        opacity: 1;
        height: 100%;


    }
}