#home {
    height: 100vh;
    background-image: url("../images/landing-background_576.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    position: relative;

    @media(min-width: 576px) {
        background-image: url("../images/landing-background_768.jpg");
    }

    @media(min-width: 768px) {
        background-image: url("../images/landing-background_992.jpg");
    }

    @media(min-width: 992px) {
        background-image: url("../images/landing-background_1200.jpg");
    }

    @media(min-width: 1200px) {
        background-image: url("../images/landing-background.jpg");
    }

    .header-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $text-alt;
        text-align: center;
        ;

        .header-title {
            font-size: 4.2rem;
            margin-top: 1.8rem;

            .header-subtitle {
                margin-top: 4rem;
            }
        }

        .header-subtitle {
            display: block;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
            font-weight: 700;
        }
    }

    .header-slidein {

        top: 100%;
        animation: slidein 1s forwards;
    }

    @keyframes slidein {
        100% {
            top: 50%;
        }
    }
}